<!doctype html>
<html>
<head>
<meta charset="UTF-8">

{{!-- <link rel="stylesheet" href="css/styles.css" type="text/css"> --}}

<title>{{{title}}}Meadowland Travel</title>
</head>

<body>

<header>
	<img src="/imgs/owl.jpg" alt="Meadowlark Travel Logo">
</header>

{{{body}}}


</body>
</html>