<h2>Home</h2>

<p>{{> weather}}</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis minima, velit fugit numquam corrupti labore laborum ab accusamus. Perferendis praesentium id dolorum recusandae cum aliquid, culpa numquam sequi asperiores minus.</p>
