<h2>Request Group Rate</h2>
<form>
	Referrer page: <input type="input" name="referrer" style="width:300px"><br><br>
	Name: <input type="text" id="fieldName" name="name"><br><br>
	Group size: <input type="text" name="groupSize"><br><br>
	Email: <input type="email" name="email"><br><br>
	<input type="submit" value="Submit" class="btn btn-primary">
</form>
{{#section "jquery"}}
<script>
	$(function(){
		$('input[name="referrer"]').val(document.referrer);
	});
</script>
{{/section}}